extends layout

block main
  div(class="form-style-8")
    h2 Create User
    div(ng-controller="UsersCtrl")
      form
        div
          input(type='text', required=true, placeholder="role", name="field1", ng-model="role")
        div
          input(type='text', required=true, placeholder="email" name="field2", ng-model="email")
        div
          input(type='submit', value="create", id="createUser", name="createUser", ng-click="createUser()")