extends layout

block main
  include navigation
  h1 Create User
  div(ng-controller="UsersCtrl")
    form
      div
        input(type='text', required=true, placeholder="role", id="role", name="role", ng-model="role")
      div
        input(type='text', required=true, placeholder="email" id="email", name="email", ng-model="email")
      div
        input(type='submit', value="create user", id="createUser", name="createUser", ng-click="createUser()")
