extends layout

block main
  div(class="form-style-8")
    h2 Create User
    div(ng-controller="UsersCtrl")
      form
        div
          select(name="field2", id="role")
            option(value="Admin") Admin
            option(value="Moderator") Moderator
            option(value="Editor", selected=true) Editor        
        div
          input(type='text', required=true, placeholder="email" name="field2", ng-model="email")
        div
          input(type='submit', value="create", id="createUser", name="createUser", ng-click="createUser()")