extends layout

block main
  include management-nav
  h1 Edit Page
  div(ng-controller="PagesCtrl")
    p {{selectedPage.name}}
    p {{selectedPage.content}}
    form
      div
        input(type="textarea", required=true, placeholder="type content here" id="content", name="content", ng-model="content")
      div
        input(type='submit', value="submit", id="editPage", name="editPage", ng-click="submitEdit()")