extends layout

block main
  h1 Edit Page
  div(ng-controller="PagesCtrl")
    p {{selectedPage.name}}
    p {{selectedPage.content}}
    form(method="post" action="somepage")
      div
        textarea(id="myarea1", name="myarea1", cols="85", rows="10" ng-model="selectedPage.content")
    button(ng-click="savePage()") Save