doctype html
html
  head
    title= title
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js",type="application/javascript")
    script(src="/scripts/app.js",type="application/javascript")
    script(src="/scripts/controllers/create-user.js",type="application/javascript")
 
  body(ng-app="myapp")
    block navigation
    div(ui-view)
      block main