doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/style.css')
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js",type="application/javascript")
    script(src="/scripts/app.js",type="application/javascript")
    script(src="/scripts/controllers/users.js",type="application/javascript")
    script(src="/scripts/controllers/pages.js",type="application/javascript")
    script(src="/scripts/controllers/login.js",type="application/javascript")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js", type="application/javascript")
 
  body(ng-app="myapp")
    p CMSleek
    block navigation
    div(ui-view)
      block main