extends layout

block main
  include navigation
  div(class="form-style-8")
    h2 Login
    div(ng-controller="LoginCtrl")
      form
        div
          input(type='text', required=true, placeholder="email", name="field1", ng-model="email")
        div
          input(type='text', required=true, placeholder="password", name="field2", ng-model="password")
        div
          input(type='submit', value="login", id="login", name="login", ng-click="login()")