extends layout

block main
  include navigation
  h1 Login
  div(ng-controller="LoginCtrl")
    form
      div
        input(type='text', required=true, placeholder="email" id="email", name="email", ng-model="email")
      div
        input(type='text', required=true, placeholder="password" id="password", name="password", ng-model="password")
      div
        input(type='submit', value="login", id="login", name="login", ng-click="login()")

