nav
    ul
        li  
            a(href="/users") Users
        li 
            a(href="/pages") Pages
        li 
            a(href="/themes") Themes
        li 
            a(href="/login") Login