nav(ng-controller="LoginCtrl")
    ul
        li  
            a(href="/users") Users
        li 
            a(href="/pages") Pages
        li 
            a(href="/themes") Themes
        li 
            a(href="/login") Login
        li 
            a(href ng-click="logout();") Logout