extends layout

block main
  div(class="container")
    h2 Pages
    div(ng-controller="PagesCtrl")
        a(ng-show="pageControl" href="/create-page") +Create Page
        div(class="small-container", ng-repeat="page in pages")
          p <b>Name:</b> {{page.name}}
          p <b>Content:</b> {{page.content}}
          button(ng-click="editPage(page.name, page.content)") Edit
          button(ng-show="pageControl" ng-click="deletePage(page.name)") Delete