extends layout

block main
  include management-nav
  h1 Pages
  div(ng-controller="PagesCtrl")
      a(ng-show="pageControl" href="/create-page") Create Page
      div(ng-repeat="page in pages")
        p Name: {{page.name}}
        p Content: {{page.content}}
        button(ng-click="editPage(page.name, page.content)") Edit
        button(ng-show="pageControl" ng-click="deletePage(page.name)") Delete