extends layout

block main
  include management-nav
  h1 Pages
  div(ng-controller="PagesCtrl")
      a(href="/create-page") Create Page
      div(ng-repeat="page in pages")
        p Name: {{page.name}}
        button(ng-click="editPage(page.name)") Edit
        button(ng-click="deletePage(page.name)") Delete