button, input[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #103288;
    -webkit-box-shadow: inset 0px 1px 0px 0px #103288;
    box-shadow: inset 0px 1px 0px 0px #103288;
    background-color: #216288;
    border: 1px solid #103288;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
button:hover, input[type="submit"]:hover {
    background:linear-gradient(to bottom, #214280 5%, #206288 100%);
    background-color:#103288;
}