button, input[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #EE7942;
    -webkit-box-shadow: inset 0px 1px 0px 0px #EE7942;
    box-shadow: inset 0px 1px 0px 0px #EE7942;
    background:linear-gradient(to bottom, #EA9859 5%, #FC5102 100%);
    border: 1px solid #EE7942;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font: bold 1.1em/1 'trebuchet MS', Arial, Helvetica;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}

button:hover, input[type="submit"]:hover {
    background:linear-gradient(to bottom, #FC5102 5%, #EA9859 100%);
}